<body>
<div class="add-post-content col">
    <div class="container">
        <div>
            <h1 class="new-post-title">Create New Post</h1>
        </div>
        <hr>
        <h2>{{addBlog}}</h2>
            <form [formGroup]="post" (ngSubmit)="getpost()">
            <div class="form-group">
                <label class="post-title">Enter title here</label>
                <input type="text" formControlName ="blogTitle" [(ngModel)]="userCreateBlog.blogTitle" placeholder="Create Title">
            </div><br>
            <div class="select-category">
                <p>Select a category:</p>
                <select  (change)="getId($event)" [(ngModel)]="userCreateBlog.catId" >
                    <option *ngFor="let item of listArray"  >{{item.name}}</option>
                    <!-- <option value="2">Python</option>
                    <option value="3">Web Tech</option>
                    <option value="4">Database</option> -->
                </select>
            </div>
            <div class="form-group">
                      <label class="post">CREATE A POST</label><br>
                      <textarea style="width: 300px;height: 300px;" formControlName="blogDescription"[(ngModel)]="userCreateBlog.blogDescription" ></textarea>
            </div>
            <br>

            <br>
            <div class="form-group">
                <!-- <button type="submit" class="btn btn-primary" (click)="navicate()">post</button> -->
                <button type="submit" class="btn btn-primary" >post</button>

            </div>
        </form>
    </div>
</div>
</body>
