/* Reset some default styles for consistency */
body, h1, p, label, select, input, textarea, button {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .create-blog-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .select-category select, input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


  .blog-title, .blog-content {
    margin-bottom: 20px;
  }

  .post-button button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .post-button button:hover {
    background-color: #0056b3;
  }
