
<div class="container" *ngFor="let item of createJava">
  <div class="row">
      <div class="col-md-6"><h1><b>JAVA</b></h1></div>
      <div class="col-md-6"></div>
  </div>
  <hr>

  <hr>
  <div class="row">
          <div class="col-md-8">

          <h1>{{item.blogTitle}}</h1>
          <p>{{item.blogDescription}}</p>
          <span class="like-count">42</span>
          <button class="like-button">👍</button>
          <span class="comment-count">13</span>
          <button class="comment-button">💬</button>

          </div>
          <div class="col-md-2">AuthorName

          </div>
  </div>
  <hr>

</div>
