
<div class="container-fluied header">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align: center;"> <h1>Welcome To My Blog</h1> </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
    <div class="col-md-2" ><a [routerLink]="['']" style="color: whitesmoke;">Home</a></div>
    <div class="col-md-2"><li class="dropdown">
        <a [routerLink]="['/home']" style="color: whitesmoke;">Category</a>
        <ul  class="dropdown-content">
            <li *ngFor="let item of listArray"><a (click)="Navigate(item.id)">
             {{item.name}}</a></li>
        </ul>
    </li></div>
    <div class="col-md-2"><a [routerLink]="['createblog']" style="color: whitesmoke;">Create a Blog</a></div>
    <div class=" col-md-2 search-bar">
        <input type="text" placeholder="Search...">
    </div>
    </div>
    </div>











