<div class="container">
    <div class="row">
       
        <div class="col-md-12">
            <img src="https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150061967.jpg?w=900&t=st=1697448085~exp=1697448685~hmac=30c3f7ec8cb306052ffbea7397768a42c8929ca08eafb326ce33ae2bb6e74e06" alt="Loading">
        </div>
      
    </div>
    <br>
    <div class="row">
        <div class="col-md-6"><h1><b>WEBTECH</b></h1></div>
        <div class="col-md-6"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">  
            <span class="text-primary">COPYWRITING ARTICLE | </span>
            <span class="text-info">QUICK TIPS</span>
            <h1>How to Learn web development?</h1>
            <p>Explore our growing collection of courses on key web design and development subjects. An industry expert has written each course, helped by members of the Chrome team. Follow the modules sequentially, or dip into the topics you most want to learn about.
        
                Web Technology refers to the various tools and techniques that are utilized in the process of communication between different types of devices over the Internet. A web browser is used to access web pages. Web browsers can be defined as programs that display text, data, pictures, animation, and video on the Internet........</p>
                <button class="btn btn-danger">Read MORE</button>
            </div>
            <div class="col-md-2">
                <div class="author">
                    <span><b>Alan Mellor</b></span>
                    <br>
                </div>
            </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">  
            <span class="text-primary">COPYWRITING ARTICLE | </span>
            <span class="text-info">QUICK TIPS</span>
            <h1>How to Learn web development?</h1>
            <p>Explore our growing collection of courses on key web design and development subjects. An industry expert has written each course, helped by members of the Chrome team. Follow the modules sequentially, or dip into the topics you most want to learn about.
        
                Web Technology refers to the various tools and techniques that are utilized in the process of communication between different types of devices over the Internet. A web browser is used to access web pages. Web browsers can be defined as programs that display text, data, pictures, animation, and video on the Internet........</p>
                <button class="btn btn-danger">Read MORE</button>
            </div>
            <div class="col-md-2">
                <div class="author">
                    <span><b>Alan Mellor</b></span>
                    <br>
                </div>
            </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">  
            <span class="text-primary">COPYWRITING ARTICLE | </span>
            <span class="text-info">QUICK TIPS</span>
            <h1>How to Learn web development?</h1>
            <p>Explore our growing collection of courses on key web design and development subjects. An industry expert has written each course, helped by members of the Chrome team. Follow the modules sequentially, or dip into the topics you most want to learn about.
        
                Web Technology refers to the various tools and techniques that are utilized in the process of communication between different types of devices over the Internet. A web browser is used to access web pages. Web browsers can be defined as programs that display text, data, pictures, animation, and video on the Internet........</p>
                <button class="btn btn-danger">Read MORE</button>
            </div>
            <div class="col-md-2">
                <div class="author">
                    <span><b>Alan Mellor</b></span>
                    <br>
                </div>
            </div>
    </div>
    <hr>
    

    
</div>
