/* You can add global styles to this file, and also import other style files */
@import"../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');

:root{
    --primary-color:#026467;
    --secondary-color:#E5F5EA;
    --body-text-color:#596392;
    --navbar-footer-color:#F9F9F9;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: var(--body-text-color);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
