body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#welcome-text {
    text-align: center;
    font-size: 36px;
    color: #007bff; /* Blue color */
    animation: rainbowText 4s linear infinite;
}

@keyframes rainbowText {
    0% { color: #ff0000; } /* Red */
    14% { color: #ff7f00; } /* Orange */
    28% { color: #ffff00; } /* Yellow */
    42% { color: #00ff00; } /* Green */
    57% { color: #0000ff; } /* Blue */
    71% { color: #4b0082; } /* Indigo */
    85% { color: #9400d3; } /* Violet */
    100% { color: #ff0000; } /* Red */
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}