<body>
    <div id="welcome-text">Welcome to My Blog Website</div>
    <!-- <div><mat-slide-toggle>Toggle me!</mat-slide-toggle>
    </div> -->
    <div class="button-container">
        <a [routerLink]="['/register']"><button class="button">Register</button></a>
        <a [routerLink]="['/login']"><button class="button">Login</button></a>
    </div>
</body>

