<h2 style="text-align: center;">{{title}}</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="background-color: gray;">
      <form [formGroup]="login" (ngSubmit)="logindata()">
        <br><br>
        <input type="email" placeholder="Email" formControlName="email"><br>
        <span *ngIf="vemail && vemail.invalid && vemail.touched" style="color: red;">Enter valid Email Id</span>
        <br>
        <input type="password" placeholder="password" formControlName="password"><br>
        <span *ngIf="vpassword && vpassword.invalid && vpassword.touched" style="color: red;">Enter valid password</span>
       <br>
        <button [disabled]="login.invalid" type="submit" class="btn btn-primary"(click)="logvaild()" >Login</button>
      </form>
    </div>
    <div>
        <h6 style="text-align: center;">Dont have an account? <a [routerLink]="['/register']">Register</a></h6>
    </div>
    
    <div class="col-lg-4"></div>
  </div>
</div>


