<h2 style="text-align: center;">{{title}}</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="background-color: gray;">
      <form [formGroup]="register" (ngSubmit)="getData()">
        <br><br>
        <input type="text" placeholder="username" formControlName="name" [(ngModel)]="userRegisterationModel.name"><br>
        <span *ngIf="vname && vname.invalid && vname.touched" style="color: red;">Enter Name</span><br>
        <input type="email" placeholder="Email" formControlName="email" [(ngModel)]="userRegisterationModel.email"><br>
        <span *ngIf="vemail && vemail.invalid && vemail.touched" style="color: red;">Enter valid Email Id</span>
        <br>
        <input type="password" placeholder="password" formControlName="password" [(ngModel)]="userRegisterationModel.password"><br>
        <span *ngIf="vpassword && vpassword.invalid && vpassword.touched" style="color: red;">Enter valid password</span>
        <br>
        <input type="password" placeholder="confirmpassword" formControlName="password" [(ngModel)]="userRegisterationModel.password"><br>
        <span *ngIf="vpassword && vpassword.invalid && vpassword.touched" style="color: red;">Confirm password</span>
        <br>
        
        <button [disabled]="register.invalid" type="submit" class="btn btn-primary" (click)="registervaild()"  >Register</button>
      </form>
      
    </div>
    <div>
        <h6 style="text-align: center;">Already have an account?<a [routerLink]="['/login']">Login</a></h6>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
